In [ ]:
#All imports

import yfinance as yf
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sqlite3
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense, Dropout
from sklearn.preprocessing import StandardScaler
from datetime import datetime
import mplfinance as mpf

In [ ]:
def plot_candle(symbol, interval, period):
    #Candlestick plotter using matplotlib finance
    ticker = yf.Ticker(symbol).history(interval = interval, period = period, prepost = True)
    mpf.plot(ticker, type = 'candle', style = 'charles', ylabel = 'Price')

In [ ]:
def plot_line(symbol, interval, period):
    #LIne graph plotter using matplotlib finance library
    ticker = yf.Ticker(symbol).history(interval = interval, period = period, prepost = True)
    mpf.plot(ticker, type = 'line', style = 'charles', ylabel = 'Price')

In [ ]:
def create_ticker(symbol, interval, period):
    #Returns pandas dataframe with datetime, open, close, high, low, volume etc.
    ticker = yf.Ticker(symbol).history(interval = interval, period = period, prepost = True)
    return ticker

In [ ]:
#test ticker
ticker = create_ticker("AAPL", '1d', '1y')

In [ ]:
#Prints the dataframe
ticker

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-07-03 00:00:00-04:00,192.756317,192.855795,190.746984,191.443298,31458200,0.0,0.0
2023-07-05 00:00:00-04:00,190.558013,191.960552,189.613019,190.319275,46920300,0.0,0.0
2023-07-06 00:00:00-04:00,188.837128,191.005620,188.200510,190.796722,45094300,0.0,0.0
2023-07-07 00:00:00-04:00,190.398823,191.652161,189.235006,189.672668,46778000,0.0,0.0
2023-07-10 00:00:00-04:00,188.260177,188.986332,186.051904,187.613617,59922200,0.0,0.0
...,...,...,...,...,...,...,...
2024-06-25 00:00:00-04:00,209.149994,211.380005,208.610001,209.070007,56713900,0.0,0.0
2024-06-26 00:00:00-04:00,211.500000,214.860001,210.639999,213.250000,66213200,0.0,0.0
2024-06-27 00:00:00-04:00,214.690002,215.740005,212.350006,214.100006,49772700,0.0,0.0
2024-06-28 00:00:00-04:00,215.770004,216.070007,210.300003,210.619995,82475600,0.0,0.0
2024-07-01 00:00:00-04:00,212.130005,217.509995,211.919998,216.750000,59923038,0.0,0.0